/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');

body{    
    font-family: 'Montserrat', sans-serif;
}

nav, footer, main{
    background-color: white;
    margin-top: .9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
}

.logo{
    margin-top: 10px;
    margin-bottom: -7px;
}
nav ul{
    display:none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    /* border-top: 1px solid rgba(0,0,0,0.5); */
    background-color: #1a5e83;
    color: white;
    transition: transform .2s;
}

/*nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}*/


nav ul li a:hover{
    -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);}

nav ul.open{
    display: block;
    text-align: center;
}

#hamburgerBtn{
    float: right;
    margin-top: -3.6rem;
    margin-right:10px;
    justify-self: right;
    width: 30px;
    height:30px;
    transition: transform .2s;
}

.icon img{
    width:30px;
   float:right;
    margin-right: 45px;
    margin-top:-36px;
    transition: transform .2s;   
}

.twitter_icon img{
    width:30px;
   float:right;
    margin-right: 85px;
    margin-top:-36px;
    transition: transform .2s;
}

.icon img:hover, .twitter_icon img:hover, #hamburgerBtn:hover{
    -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}

#hamburgerBtn span:nth-child(2){display:none;}
#hamburgerBtn span:nth-child(1){display:block;}

#hamburgerBtn.open span:nth-child(2){display:block;}
#hamburgerBtn.open span:nth-child(1){display:none;}

footer{
    text-align: center;
    background-color: #1a5e83;
    color:white;
    padding-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}
footer img{
    margin-top: 20px;
}

.medium{
    display: none;
}

.large{
    display: none;
}

.small, .medium, .large{
    border-top: 1px solid white;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px; 
}
#banner{
    position:relative;
    text-align: center;
    color:white;
}

#info{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
    background-color: rgb(0,0,0,0.3);  
}

#info h2{
    border-bottom: 1px solid white;
    font-size: 20px;
    padding-bottom: 5px;

}

#info p{
    margin-top: -10px;
    font-size: 16px;
}

/* MAIN */

main section{
    background-color: rgba(229, 229, 229, 0.6);
    color:#333;
    /* border:rgb(159, 158, 158) 1px solid; */
    /* height: 10em; */
    /* padding: 1em; */
    margin: 10px;
}

#spotlight3, #join{
    display: none;
}

#spotlights{
    padding:10px;
    background-color: rgba(16, 101, 180, 0.8);
    color:#333;
    /* border:rgb(159, 158, 158) 1px solid; */
    margin: 10px;
}

/* HERO */
#hero{
    position:relative;
    text-align: center;
}

#hero button{
    position:absolute;
    top: 50%; 
    left:50%;
    transform: translate(-50%, -50%); 
    background-color: rgb(26, 94, 131,1); 
    color:#eee;
    margin:0;
    cursor: pointer;
    padding: 1em;
    font-size: 1.2em;
    border: none;
    transition: transform .2s;
}

#hero button:hover{
    position: absolute;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);  
    transform: translate(-50%, -50%); 
    font-size: 1.3em;
} 

/* EVENT */
#event{
    position: relative;
}

#eventInfo{
    position: absolute;
    top: 50%; 
    left:50%;
    transform: translate(-50%, -50%); 
    background-color: rgb(238, 238, 238, 0.7); 
    padding: 1em;
    color:#304a74;
    font-weight: 500;
    text-align: center;
}

.flex{
    display: flex;
    margin-left:-30px;
}

#flex img{
    margin-left: -2em;
}

.flex p{
    margin-top:20px;
    text-align: left;
}

#restWeek{
    font-size: 22px;
}

#eventInfo :nth-child(3){
font-size: 12px;
color: #333;
}

#dateRest{
    background-color: rgba(12, 88, 159, 0.6);
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* WEATHER */
#weather{
    text-align: center;
    font-size: 20px;
    background-color: rgba(12, 88, 159, 0.9);
    color: white;
    padding: 1em;
    padding-top:0.4em;
}

.weatherGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.weatherGrid p{
    margin:5px;
}


.weatherGrid :nth-child(1){
    grid-area: 1/1/2/2;
    text-align: right;
    margin-right:10px;
}

.weatherGrid :nth-child(2){
    grid-area: 1/2/2/3;
}

.weatherGrid :nth-child(3){
    grid-area: 2/1/3/2;
    text-align: right;
    margin-right:10px;
}

.weatherGrid :nth-child(4){
    grid-area: 2/2/3/3;
}

#weather h2{
    margin-bottom: 30px;
}

.temp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top:-20px;
}

.temp img{
    grid-column: 1/2;
    margin: 0 auto;
}

.temp p{
    grid-column: 2/3;
    margin-top: 35px;
}

#cloudy{
    border-bottom: 1px solid #eee;
    padding-bottom:10px;
    text-align: right;
    margin-right: 30px;
    margin-left: 30px;
}

/* NEWS */
#news{
    text-align: center;
    font-size: 20px;
    background-color: rgba(12, 88, 159, 0.9);
    color: white;
    padding:1em;
    padding-top:0.4em
}

main h2{
    color:#f5b255;
    margin-bottom:0;
}

#news p{
    line-height: 1.5em;
}
/* SPOTLIGHT1 */
#spotlight1, #spotlight2, #spotlight3{
    text-align: center;
    font-size: 20px;
    background-color: rgba(12, 88, 159, 0.9);
    color: white;
    padding:1em;
    padding-top:0.4em;
    padding-bottom:0.5em
}

#spotlight1 h2{
    margin-bottom:0.5em;
}

#spotlight1 :nth-child(3), #spotlight3 :nth-child(3){
    margin-top:10px;
    margin-bottom:30px;
}

#spotlight1 :nth-child(4), #spotlight2 :nth-child(4), #spotlight3 :nth-child(4){
    font-size: 18px;
    border-top: 1px solid white;
    padding-top:10px;
}

#spotlight1 :nth-child(5), #spotlight2 :nth-child(5), #spotlight3 :nth-child(5){
    font-size: 18px;
    margin-top:-15px;
}

/* SPOTLIGHT2 */

#spotlight2 :nth-child(2){
    margin-bottom:-30px;
    margin-top: -5px;
}

#spotlight2 :nth-child(3){
    margin-bottom:30px;
}

/* SPOTLIGHT3 */
#spotlight3 :nth-child(2){
    margin-top: 15px;
}

/* JOIN */
#join button{
    width:100%;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    background-color: rgba(24, 171, 24, 0.8);
    color:white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top:10px;
    transition: transform .2s;
      
}

#join{
    text-align: center;
    font-size: 20px;
    background-color: rgba(12, 88, 159, 0.9);
    color: white;
    padding:1em;
    padding-top: 1em;
}

#join button:hover{
    -ms-transform: scale(1.05); 
  -webkit-transform: scale(1.05); 
  transform: scale(1.03);
}


