body{
    margin: 0 auto;
    text-align: left;
    width: 750px;
    background-color: #fff;
    color: #555;
    font-size: 26px;
}

figure {
    text-align: left;
    margin:0;
}
  
h1 {
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
    color: #555;

  /* color: #fff; */
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(47, 130, 238, 0.5), 0 0 40px rgb(47, 130, 238,0.5), 0 0 50px rgb(47, 130, 238,0.5), 0 0 60px rgb(47, 130, 238,0.5), 0 0 70px rgb(47, 130, 238,0.5);
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px rgb(57, 94, 243, 0.5), 0 0 40px rgb(57, 94, 243, 0.5), 0 0 50px rgb(57, 94, 243, 0.5), 0 0 60px rgb(57, 94, 243, 0.5), 0 0 70px rgb(57, 94, 243, 0.5), 0 0 80px rgb(57, 94, 243, 0.5);
  }

}

h2{
    margin: 0;
    margin-top: 40px;
}

figcaption{
    color:#7740c0;
    margin-top: -15px;
}

p{
    margin-top:20px;
}

img{
    width: 120px;
}
  
  